@charset "UTF-9";

:root {
    --header:#038C33;
    --letras: #D9BC66;
}

@media (max-width: 800px ) {
    nav {
        display: none;
    }
    nav#nav-close {
        display: flex;
        padding: 20px;
    }
    #nav-dropdown {
        display: flex;
        background-color: transparent;
        color: var(--letras);
        border: none;
    }
    #nav-dropdown > span {
        font-size: 3em;
    }

    #nav-dropdown > #nav-open {
        display: none;
    }
    #nav-dropdown:focus > #nav-open {
        display: flex;
        margin-right: -20px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 35px;
        font-size: 1.4em;
    }
    #nav-dropdown:focus span {
        display: none;
    }
  
}